client/bower_components
client/node_modules
client/pkg
server/bin
server/pkg
server/src/github.com/BurntSushi/toml/tomlv
server/src/github.com/gorilla/context
server/src/github.com/gorilla/mux
server/src/github.com/gorilla/securecookie
server/src/github.com/gorilla/sessions
server/src/github.com/kisielk/vendorize
server/src/github.com/kr/goven
server/src/github.com/levicook/glitch
server/src/github.com/levicook/go-detect
server/src/github.com/ogier/pflag
server/src/github.com/spf13/cobra
server/src/github.com/spf13/pflag
server/src/github.com/stretchr/objx
server/src/github.com/stretchr/testify
server/src/labix.org/v2/mgo
server/src/launchpad.net/gocheck
supervise
tmp
server/src/github.com/BurntSushi/toml
server/src/github.com/davecgh/go-spew/spew
