client/bower_components
client/node_modules
client/pkg
server/bin
server/pkg
server/src/code.google.com
server/src/github.com
server/src/github.com/BurntSushi/toml/tomlv
server/src/github.com/gorilla/mux
server/src/github.com/gorilla/sessions
server/src/github.com/kr/goven
server/src/github.com/levicook/glitch
server/src/github.com/levicook/go-detect
server/src/github.com/spf13/cobra
server/src/github.com/stretchr/testify
server/src/labix.org
server/src/labix.org/v2/mgo
supervise
tmp
