tmp
server/bin
server/pkg
server/src/labix.org/v2/mgo
server/src/github.com/gorilla/mux
server/src/github.com/gorilla/sessions
server/src/github.com/stretchr/testify
server/src/github.com/levicook/glitch
